@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=EB+Garamond:ital,wght@1,600&family=Hedvig+Letters+Serif:opsz@12..24&family=Roboto+Condensed&display=swap');
body{
    background-image: linear-gradient(90deg, rgb(168, 256, 209),rgb(206, 124, 162));
    font-family: 'Roboto Condensed', sans-serif !important;
}
.heading{
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
}
.satelite{
    display: flex;
    flex-wrap: wrap;
    margin: 25px;
    padding: 15px;
    row-gap: 15px;
    justify-content: space-around;
}
.card{
    background-image: linear-gradient(3deg, rgb(65, 24, 160),rgb(170, 123, 20));
    color: aliceblue !important;
}
.card :hover{
    cursor: pointer;
}